<h1>Editing Book</h1>

<div class="form_area">
  <%= form_with model: @book, url: book_path, local: true do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :body %><br>
    <%= f.text_area :body %><br>
    <%= f.submit "Update Book" %>
  <% end %>
</div>

<%= link_to "Show", book_path(@book) %>
|
<%= link_to "Back", books_path %>