<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to "Show", book_path(book) %></td>
      <td><%= link_to "Edit", edit_book_path(book)%></td>
      <td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "削除しますか？"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<div class="form_area">
  <h2>New book</h2>
  <%= form_with model: @book, url: books_path, method: :post, local: true do |f| %>
    <%= f.label :title %></br>
    <%= f.text_field :title %></br>
    <%= f.label :body %></br>
    <%= f.text_area :body %></br>
    <%= f.submit "Create Book" %>
  <% end %>
</div>
